 @font-face{
  font-family: "asaraf";
  src: url("../assets/fount/Roboto/Roboto-Thin.ttf");
 }
 
 
 .padd{
   font-size: 47px;
}
.c{
   color: #38a169;
}
.b{
    border-radius: 20px;
} 
.fon{
  font-size: 18px;
}
.fs{
  font-size: 20px;
}
.fonts{
  font-size: 13px;
}
.f{
  font-size: 15px;
}
.bg{
  background-color: #f1f5f9;
}
.bgp{
  background-color: #754ffe;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 50px;
}
.fsss{
  font-size: 15px;
}
.card:hover{
  box-shadow: -4px 0px 5px 5px rgba(127, 185, 239, 0.794);
  -webkit-box-shadow: -4px 0px 5px 5px rgba(135, 201, 255, 0.75);
  -moz-box-shadow: -4px 0px 5px 5px rgba(78, 121, 156, 0.617);  
}
/* .roud {
  border: 1px solid white;
  background-color: #38a169;
  border-radius: 50%;
  height: 63px;
  width: 70px;
  padding: 4px;
} */