 .padd{
   font-size: 47px;
}
.c{
   color: #38a169;
}
.b{
    border-radius: 20px;
} 
.fon{
  font-size: 18px;
}
.fs{
  font-size: 20px;
}
.fonts{
  font-size: 18px;
}
.f{
  font-size: 18px;
}
.bg{
  background-color: #f1f5f9;
}
.bgp{
  background-color: #754ffe;
  border-radius: 20px;
}
.fsss{
  font-size: 15px;
}